---
import "../styles/global.css"
import Navbar from "../components/Navbar.astro"
import Header from "../components/Header.astro"
import Category from "../components/Category.astro"
import Selling from "../components/Selling.astro"
import EasyFast from "../components/EasyFast.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jadoo - Travel Agency</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-['Poppins'] min-w-full bg-white overflow-x-hidden">
    <div class="flex flex-col min-h-screen w-full">
      <Navbar />
      <Header />
      <Category />
      <Selling />
      <EasyFast />
    </div>
  </body>
</html>
