---

---

<section class="py-24 w-full">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-[1280px]">
    <p class="text-[#5E6282] text-lg text-center uppercase mb-2">Top Selling</p>
    <h2 class="text-[#14183E] text-5xl font-bold text-center mb-24">
      Top Destinations
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-12">
      <div class="bg-white rounded-3xl overflow-hidden shadow-lg">
        <img
          src="/selling/first.svg"
          alt="Rome"
          class="w-full h-96 object-cover"
        />
        <div class="p-8">
          <div class="flex justify-between items-center mb-4">
            <span class="text-[#5E6282] text-lg">Rome, Italy</span>
            <span class="text-[#5E6282] text-lg">$5.42k</span>
          </div>
          <div class="flex items-center">
            <img src="/navbar/play.svg" alt="" class="w-6 h-6 mr-2" />
            <span class="text-[#5E6282]">10 Days Trip</span>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-3xl overflow-hidden shadow-lg">
        <img
          src="/selling/second.svg"
          alt="London"
          class="w-full h-96 object-cover"
        />
        <div class="p-8">
          <div class="flex justify-between items-center mb-4">
            <span class="text-[#5E6282] text-lg">London, UK</span>
            <span class="text-[#5E6282] text-lg">$4.2k</span>
          </div>
          <div class="flex items-center">
            <img src="/navbar/play.svg" alt="" class="w-6 h-6 mr-2" />
            <span class="text-[#5E6282]">12 Days Trip</span>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-3xl overflow-hidden shadow-lg">
        <img
          src="/selling/third.svg"
          alt="Europe"
          class="w-full h-96 object-cover"
        />
        <div class="p-8">
          <div class="flex justify-between items-center mb-4">
            <span class="text-[#5E6282] text-lg">Full Europe</span>
            <span class="text-[#5E6282] text-lg">$15k</span>
          </div>
          <div class="flex items-center">
            <img src="/navbar/play.svg" alt="" class="w-6 h-6 mr-2" />
            <span class="text-[#5E6282]">28 Days Trip</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
