---

---

<section class="py-24 w-full relative">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-[1280px]">
    <div class="max-w-[500px]">
      <p class="text-[#5E6282] text-lg mb-2">TESTIMONIALS</p>
      <h2 class="text-[#14183E] text-[38px] leading-[46px] font-bold">
        What People Say About Us.
      </h2>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 mt-16">
      <div class="flex gap-20">
        <div class="flex flex-col gap-6 mt-8">
          <button class="w-3 h-3 bg-[#39425D] rounded-full"></button>
          <button class="w-3 h-3 bg-[#E5E5E5] rounded-full"></button>
          <button class="w-3 h-3 bg-[#E5E5E5] rounded-full"></button>
        </div>
      </div>

      <div class="relative">
        <div class="relative">
          <img
            src="/testimonials/person.svg"
            alt=""
            class="absolute -left-8 -top-8 max-w-[70px] z-30"
          />

          <div
            class="bg-white rounded-[10px] p-8 shadow-lg max-w-[504px] relative z-20"
          >
            <p class="text-[#5E6282] text-base leading-[32px]">
              "On the Windows talking painted pasture yet its express parties
              use. Sure last upon he same as knew next. Of believed or diverted
              no."
            </p>

            <div class="mt-8">
              <h4 class="text-[#5E6282] text-lg font-semibold mb-1">
                Mike taylor
              </h4>
              <p class="text-[#5E6282] text-sm">Lahore, Pakistan</p>
            </div>
          </div>

          <div class="absolute -right-12 top-1/2 flex flex-col gap-4 z-30">
            <button
              class="w-10 h-10 rounded-full bg-white shadow-lg flex items-center justify-center"
            >
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path
                  d="M3.828 7.00005H16V9.00005H3.828L9.192 14.364L7.778 15.778L0 8.00005L7.778 0.222046L9.192 1.63605L3.828 7.00005Z"
                  fill="#BCB7C2"></path>
              </svg>
            </button>
            <button
              class="w-10 h-10 rounded-full bg-white shadow-lg flex items-center justify-center"
            >
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path
                  d="M12.172 7.00005L6.808 1.63605L8.222 0.222046L16 8.00005L8.222 15.778L6.808 14.364L12.172 9.00005H0V7.00005H12.172Z"
                  fill="#3E2E4D"></path>
              </svg>
            </button>
          </div>

          <div
            class="absolute -bottom-12 right-0 bg-white rounded-[10px] py-5 px-8 shadow-lg z-10 max-w-[504px] w-full"
          >
            <h4 class="text-[#5E6282] text-base font-medium">Chris Thomas</h4>
            <p class="text-[#5E6282] text-xs">CEO of Red Button</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
